@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './landing.scss';

:root {
  --primary-color: #fff4f1;
  --text-color: #333333;
  --background-color: #ffffff;
}

body {
  display: block;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

body,
.mrb-main {
  min-height: 100vh;
  min-height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ant-breadcrumb a,
.ant-dropdown-menu-title-content a {
  text-decoration: none;
}
.ant-form-item-control-input-content .ant-input,
.ant-form-item-control
  .ant-form-item-control-input-content
  .ant-input-affix-wrapper,
div div span.ant-input-affix-wrapper,
div div span.ant-input-affix-wrapper-focused.ant-input-affix-wrapper,
div div span.ant-input-affix-wrapper.ant-input-affix-wrapper:hover {
  border: 1px solid #42436b;
  background: var(--primary-color);
}
.ant-layout-sider-children {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ant-menu-item-selected::after,
.ant-menu-item::after,
.ant-menu-item-active::after,
.ant-menu-horizontal,
.ant-menu-submenu,
.ant-menu-submenu::after {
  border-bottom: none !important;
}

.ant-typography {
  a,
  .ant-btn-link > span {
    text-underline-offset: 0.2em;
    text-decoration: underline;

    &:hover {
      color: color-mix(in srgb, var(--primary-color) 90%, black);
    }
  }
}

.ant-menu-item-selected {
  font-weight: 600;
  color: var(--primary-color);
}

.ant-form {
  .ant-form-item:last-child {
    margin-bottom: 0;
  }

  .ant-form-item {
    font-weight: 500;
  }

  .ant-form-item label:not(.ant-form-item-required):after {
    content: '(optional)';
    font-weight: normal;
    visibility: visible;
    padding-left: 10px;
    color: #888888;
  }
}
.ant-card {
  background: var(--primary-color) 40%;
}
.ant-btn-background-ghost {
  &:active,
  &:hover {
    border-color: transparent;
    color: color-mix(in srgb, var(--primary-color) 90%, black);
  }
}

.css-var-Rcq.ant-typography {
  --ant-typography-title-margin-top: 0em;
  --ant-typography-title-margin-bottom: 0em;
}

.organization-select__menu {
  li {
    cursor: default !important;
  }
}

// New global classes
.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.font-bold {
  font-weight: 700;
}

.rounded {
  border-radius: 8px;
}

.shadow-md {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
div div.ant-dropdown .ant-dropdown-menu.ant-dropdown-menu-root {
  background-color: var(--primary-color);
  background: var(--primary-color);
}
.ant-table-content thead th.ant-table-cell,
.ant-table-content tbody td.ant-table-cell {
  background: var(--primary-color);
}
.ant-btn-default {
  background: #f2ee7d !important;
}
.ant-pagination .ant-pagination-item-active,
.ant-pagination .ant-pagination-item {
  background: transparent;
}
